<!DOCTYPE html>
<html>
  <head>
    <title>The 1970s</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="content">
      <form action="" id="f">
        <input id="m" name="name" type="text" maxlength="100" placeholder="Enter your name" autofocus>
        <button type="submit" id="submit-data" class="button">Submit</button>
      </form>
      <div id="bal">
        <h1 id="b"></h1>
        <p id="name"></p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script>
      $(function() {
        var socket = io();
        $("form").submit(function() {
          socket.emit('name', $("#m").val());
          socket.emit('listenName', $("#m").val());
          $("#m").val('');
          return false;
        });
        socket.on('balance', function(bal) {
          $("body").css("background-color","#8c42f4");
          $("#bal h1").css("color", "gold");
          if (bal < 1) {
            $("#b").text("You have died");
            $("body").css("background-color","#e02c2c");
          }
          else if (bal >= 100000000) {
            $("#b").text("You have been arrested");
            $("body").css("background-color", "#f4b342");
            $("#bal h1").css("color", "#71a3f2");
          }
          else $("#b").text("$" + bal);
          $("#bal h1").delay(300).animate({ opacity: 1 }, 500);
          $("#f").hide();
        });
      });
    </script>
  </body>
</html>
