<!DOCTYPE html>
<html>
  <head>
    <title>State Change</title>
    <meta charset="utf-8"/>
    <link href="/public/style.css" rel="stylesheet">
  </head>
  <body style="background-color:#6fb235;">
    <form action="" id="f">
      <input id="s" name="state" type="text" maxlength="100" placeholder="State" autofocus>
      <button type="submit" id="submit-data" class="button">Submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script>
      $(function() {
        var socket = io();
        $("form").submit(function() {
          socket.emit('state', $("#s").val());
          $("#s").val('');
          return false;
        });
      });
    </script>
  </body>
</html>
